<%- contentFor("head") %>

<meta name="twitter:card" content="summary">
<meta property="og:title" content="DC311 Request Lookup">
<meta property="og:description" content="Quickly check the status of a DC 311 service request.">

<title>DC 311 Service Request Lookup • dc311rn.com</title>

<%- contentFor("body") %>

<h1>DC 311 Service Request Lookup</h1>

<div class="section with-background with-space error outdated-feature" hidden></div>

<div class="section form with-space">
  <noscript>
    <p>To look up a service request, enable JavaScript in your browser or append a service request number to the URL: <code>https://www.dc311rn.com/18-00138559</code>.</p>
  </noscript>
  <form class="yesscript lookup-feature" hidden>
    <label for="serviceRequestNumber">Service Request Number</label>
    <input type="text" name="serviceRequestNumber" placeholder="18-00138559" id="serviceRequestNumber" required pattern="<%= requestNumberPattern.source %>" autofocus>
    <button>Search</button>
  </form>
</div>

<div class="section about">
  <h2>What is this?</h2>

  <p>
    DC’s <a href="https://311.dc.gov" target="_blank" rel="noopener noreferrer">311 service</a> doesn’t allow looking up service requests without knowing the original requester’s email address. This is problematic for service requests filed via Twitter, since they do not have email addresses — and therefore it’s difficult to lookup their statuses.
  </p>

  <p>
    However, DC also publishes 311 data through it’s <a href="http://opendata.dc.gov/" target="_blank" rel="noopener noreferrer">Open Data Portal</a>, which includes 311 request information in realtime. This website allows you to access that data quickly to check on the status of service requests you may be interested in.
  </p>

  <h2>How can I help?</h2>

  <p>
    If you spot an issue or you have an idea of how to make this site better, head to <a href="https://github.com/adunkman/dc311rn.com" target="_blank" rel="noopener noreferrer">GitHub</a> and open an issue. Issues and pull requests are welcome! Thanks for helping make DC a better place. ❤️
  </p>
</div>
