<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="twitter:site" content="@dc311rn">

    <%- defineContent("head") %>

    <link rel="stylesheet" href="<%= assets.css %>">
    <script src="<%= assets.js %>"></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>
